@media (max-width: 1200px) {
    // First section
    .header {
        &__logo {
            width: 240px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        padding: 21px 20px 93px 20px;
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 60px;
            width: 390px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        &_main {
            margin-top: 60px;
            width: 265px;
            font-size: 14px;
        }

    }

    // Second section
    .advantages {
        padding: 69px 20px 85px 20px;
        &__subheader {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .title {
        font-size: 27px;
    }
    // Third section
    .consultation {
        min-height: 650px;
        padding: 100px 20px 92px 20px;
    }
    .feed-form {
        width: 280px;
    }

    // Fourth section
    .carousel {
        padding: 81px 20px;
    }

    // Fifth section
    .catalog {
        padding: 0 20px 100px 20px;
        &__tab {
            width: 200px;
        }
    }
}

    // Sixth section
    .comments {
        padding: 0 20px 71px 20px;
    }

    // Seventh section {
    .footer {
        &__info {
            width: 400px;
            height: 230px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 30px;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 30px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 23px;
            }
        }
    }

@media (max-width: 991px) {
    // First section
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 145px;
        font-size: 11px;
        &_main {
            width: 190px;
            font-size: 13px;
        }
    }
    .promo {
        padding: 21px 25px 93px 25px;
        &__wrapper {
            margin-top: 85px;
            align-items: center;
        }
        &__link {
            font-size: 14px;
        }
    }

    // Second section
    .advantages {
        padding: 69px 25px 50px 25px;
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__subheader {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    .title {
        font-size: 25px;
    }

    // Third section
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        padding: 100px 25px 92px 25px;
        &__descr {
            text-align: center;
            font-size: 18px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .button {
        &_submit {
            width: 100%;
            font-size: 15px;
        }
    }

    // Fourth section
    .carousel {
        padding: 70px 25px;
        &__inner {
            max-width: 100%;
        }
    }

    // Fifth section
    .catalog {
        padding: 0 25px 100px 25px;
        &__tabs {
            margin-top: 60px;
        }
        &__tab {
            font-size: 15px;
            &:hover {
                box-shadow: none;
                border: 2px solid #d0d0d0;
            }
            &_active {
                &:hover {
                    border: none;
                }
            }
        }
        &__content {
            justify-content: space-around;
        }
    }

    // Sixth section
    .comments {
        padding: 0 25px 71px 25px;
        &__name {
            font-size: 17px;
        }
        &__marathon {
            font-size: 13px;
        }
        &__descr {
            font-size: 14px;
        }
        &__img {
            width: 150px;
            height: 150px;
        }
    }

    // Seventh section {
        .footer {
            &__info {
                width: 320px;
                height: 200px;
            }
            &__addr {
                font-size: 11px;
                margin-bottom: 20px;
            }
            &__phone {
                font-size: 11px;
            }
            &__social-item {
                width: 30px;
                height: 30px;
                img {
                    height: 17px;
                }
            }
        }
}

@media (max-width: 767px) {
    // First section
    .header {
        &__official {
            display: none;
        }
    }
    .button {
        &_main {
            margin-top: 55px;
            width: 180px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 592px;
        padding: 21px 25px 60px 25px;
        &__wrapper {
            margin-top: 65px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            margin-top: 55px;
            width: 350px;
        }
        &__icon {
            font-size: 11px;
        }
        &__link {
            font-size: 12px;
        }
    }

    // Second section
    .advantages {
        padding: 69px 25px 0 25px;
        &__item {
            margin-bottom: 0;
            img {
                width: 65px;
            }
        }
        &__subheader {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 18px;
            font-size: 12px;
        }
    }
    .title {
        font-size: 23px;
    }

    // Third section
    .consultation {
        min-height: 580px;
        &__descr {
            font-size: 17px;
        }
    }
    .feed-form {
        margin-top: 36px;
        width: 260px;
        input {
            height: 45px;
        }
    }
    .button {
        &_submit {
            height: 50px;
        }
    }

    // Fourth section
    .carousel {
        &__inner {
            max-width: 100%;
        }
    }

    // Fifth section
    .catalog-item {
        width: 250px;
        &__img {
            height: 170px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 13px;
        }
        &__link {
            font-size: 13px;
        }
        &__list {
            li {
                font-size: 11px;
            }
        }
        &__old-price {
            font-size: 13px;
        }
        &__price {
            font-size: 17px;
        }
    }
    .button {
        &_mini {
            width: 110px;
        }
    }

    // Sixth section
    .comments {
        &__block {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__text {
            margin-top: 30px;
            margin-left: 0;
        }
        &__name {
            text-align: center;
            font-size: 16px;
        }
        &__marathon {
            font-size: 12px;
        }
        &__descr {
            font-size: 13px;
        }
        &__img {
            width: 140px;
            height: 140px;
        }
    }

    // Seventh section {
        .footer {
            &__info {
                width: 100%;
            }
        }
    
}

@media (max-width: 575px) {
    // First section
    .header {
        &__logo {
            width: 130px;
        }
        &__phone {
            font-size: 12px;
            margin-bottom: 3px; 
        }
    }
    .button {
        width: 110px;
        font-size: 10px;
        &_main {
            margin-top: 130px;
            width: 200px;
            font-size: 11px;
        }
    }
    .promo {
        min-height: 473px;
        &__header {
            font-size: 21px;
            line-height: 21px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }
        &__icons {
            display: none;
        }
    }

    // Second section
    .title {
        font-size: 20px;
    }
    
    // Third section
    .title {
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        padding: 90px 25px 75px 25px;
        &__descr {
            font-size: 15px;
        }
    }
    .feed-form {
        margin-top: 36px;
        width: 260px;
        input {
            height: 45px;
        }
    }
    .button {
        &_submit {
            width: 100%;
            font-size: 15px;
        }
    }
    
    // Fourth section
    .carousel {
        &__inner {
            max-width: 100%;
        }
    }

    // Fifth section
    .catalog {
        &__tabs {
            margin-top: 20px;
            flex-direction: column;
        }
        &__tab {
            font-size: 13px;
            width: 180px;
            height: 40px;
            margin: 7px 0;
            div {
                line-height: 40px;
            }
        }
        &__content {
            margin-top: 30px;
        }
    }
    .catalog-item {
        min-height: 377px;
        &__img {
            height: 130px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__descr {
            font-size: 12px;
        }
        &__link {
            margin-top: 10px;
            font-size: 12px;
        }
        &__old-price {
            font-size: 12px;
        }
        &__price {
            font-size: 15px;
        }
    }

    // Sixth section
    .comments {
        &__name {
            font-size: 15px;
        }
        &__marathon {
            font-size: 11px;
        }
        &__descr {
            font-size: 11px;
        }
        &__img {
            width: 120px;
            height: 120px;
        }
    }
}