@media (max-width: 1200px) {
    // First section
    .header {
        &__logo {
            width: 240px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        padding: 21px 20px 93px 20px;
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 60px;
            width: 390px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        &_main {
            margin-top: 60px;
            width: 265px;
            font-size: 14px;
        }

    }

    // Second section
    .advantages {
        padding: 69px 20px 85px 20px;
        &__subheader {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .title {
        font-size: 27px;
    }
    // Third section
    .consultation {
        min-height: 650px;
        padding: 100px 20px 92px 20px;
    }
    .feed-form {
        width: 280px;
    }
}

@media (max-width: 991px) {
    // First section
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 145px;
        font-size: 11px;
        &_main {
            width: 190px;
            font-size: 13px;
        }
    }
    .promo {
        padding: 21px 25px 93px 25px;
        &__wrapper {
            margin-top: 85px;
            align-items: center;
        }
        &__link {
            font-size: 14px;
        }
    }

    // Second section
    .advantages {
        padding: 69px 25px 50px 25px;
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__subheader {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    .title {
        font-size: 25px;
    }

    // Third section
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        padding: 100px 25px 92px 25px;
        &__descr {
            text-align: center;
            font-size: 18px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .button {
        &_submit {
            width: 100%;
            font-size: 15px;
        }
    }
}

@media (max-width: 767px) {
    // First section
    .header {
        &__official {
            display: none;
        }
    }
    .button {
        &_main {
            margin-top: 55px;
            width: 180px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 592px;
        padding: 21px 25px 60px 25px;
        &__wrapper {
            margin-top: 65px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            margin-top: 55px;
            width: 350px;
        }
        &__icon {
            font-size: 11px;
        }
        &__link {
            font-size: 12px;
        }
    }

    // Second section
    .advantages {
        padding: 69px 25px 0 25px;
        &__item {
            margin-bottom: 0;
            img {
                width: 65px;
            }
        }
        &__subheader {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 18px;
            font-size: 12px;
        }
    }
    .title {
        font-size: 23px;
    }

    // Third section
    .consultation {
        min-height: 580px;
        &__descr {
            font-size: 17px;
        }
    }
    .feed-form {
        margin-top: 36px;
        width: 260px;
        input {
            height: 45px;
        }
    }
    .button {
        &_submit {
            height: 50px;
        }
    }
}

@media (max-width: 575px) {
    // First section
    .header {
        &__logo {
            width: 130px;
        }
        &__phone {
            font-size: 12px;
            margin-bottom: 3px; 
        }
    }
    .button {
        width: 110px;
        font-size: 10px;
        &_main {
            margin-top: 130px;
            width: 200px;
            font-size: 11px;
        }
    }
    .promo {
        min-height: 473px;
        &__header {
            font-size: 21px;
            line-height: 21px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }
        &__icons {
            display: none;
        }
    }

    // Second section
    .title {
        font-size: 20px;
    }
    
    // Third section
    .title {
        &_left {
            font-size: 18px;
        }
    }
    .consultation {
        padding: 90px 25px 75px 25px;
        &__descr {
            font-size: 15px;
        }
    }
    .feed-form {
        margin-top: 36px;
        width: 260px;
        input {
            height: 45px;
        }
    }
    .button {
        &_submit {
            width: 100%;
            font-size: 15px;
        }
    }
}